USE [master]
GO
/****** Object:  Database [ApartmentAutomation]    Script Date: 8.1.2019 14:17:45 ******/
CREATE DATABASE [ApartmentAutomation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Apartman Otomasyonu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Apartman Otomasyonu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Apartman Otomasyonu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Apartman Otomasyonu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApartmentAutomation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApartmentAutomation]
GO
USE [ApartmentAutomation]
GO
/****** Object:  Table [dbo].[Gelirler]    Script Date: 8.1.2019 14:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gelirler](
	[Daire No] [int] NULL,
	[Tutar] [decimal](18, 0) NULL,
	[Tarih] [date] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giderler]    Script Date: 8.1.2019 14:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giderler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tutar] [decimal](18, 0) NULL,
	[Masraf Türü] [nvarchar](50) NULL,
	[Tarih] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsertGelir]    Script Date: 8.1.2019 14:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertGelir]
@daireNo int, @tutar decimal,
@tarih date
AS
BEGIN
	INSERT INTO Gelirler([Daire No],Tarih,Tutar)
	VALUES (@daireNo,@tarih,@tutar)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertGider]    Script Date: 8.1.2019 14:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertGider]
@MasrafTuru nvarchar(50), @tutar decimal,
@tarih date
AS
BEGIN
	INSERT INTO Giderler([Masraf Türü],Tarih,Tutar)
	VALUES (@MasrafTuru,@tarih,@tutar)
END
GO
USE [master]
GO
